caches {
    compute-memory {
        site = "alluxio://localhost:19998/tmp/cache"
        size = 4G
    }
    storage-disk {
        site = "hdfs://localhost:9000/tmp/cache"
        size = 256G
    }
}
server {
    port = 35001
    mode = 3
}
predictor {
    type = "oracle"
    file = "trace-file.txt"
}