caches {
    storage-disk {
        site = "hdfs://localhost:9000/tmp/cache"
        size = 256G
    }
}
server {
    port = 35001
    mode = 3
}
planner{
    type = "basic"
}
predictor {
    type = "oracle"
    file = "futurePlans.json"
    windowSize = ""
}
